/* * {
    border: 1px solid red;
} */

.fill {
    height:80vh;
}

.socials {
    font-size: 2.2em;
    color: white;
}

.fb:hover {
    color: rgb(87, 87, 255);
}

.tw:hover {
    color: rgb(70, 201, 245);
}

.yt:hover {
    color: red;
}

.tt:hover {
    color: white;
    text-shadow: 1px 1px 2px #FF0000,
                -1px -1px 2px #04f8f4,
                1px 1px 2px #FF0000,
                -1px -1px 2px #04f8f4;
}

.ig:hover {
    background-image: linear-gradient(to bottom, rgb(122, 2, 207), rgb(199, 1, 87), rgb(249, 187, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-primary {
    background-color: #046B99 !important;
}

.bg-secondary {
    background-color: #ACC3C2 !important;
}

.footer-link {
    color: #FFF;
    text-decoration: none;
}

.footer-link:hover {
    color: #DB9D47;
}

.btn-secondary {
    background-color: #DB9D47;
    color:#FFF !important;
}

.btn-secondary:hover {
    background-color: #B5823B;
}

.profile-img {
    max-width: 20%;
    max-height: 20%;
}